ul {
  list-style: none;
}

.wrapper {
  position: relative;
  min-height: 100vh;
  background-image: url("/images/strip.png");
  background-repeat: repeat;
  background-size: 400px;
  font-family: 'Lobster', cursive;
  font-size: 22px;
}

.wrapper:before {
  content: '';
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 120px;
  display: block;
  background-image: url("/images/clip.png");
  background-repeat: repeat-y;
  background-size: 50px;
}

.header {
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #111111;
  z-index: 2;
}

.main {
  padding: 70px 15px 15px 55px;
}

.category-name {
  color: #890589;
}

.group-name {
  color: #005900;
}

.accounting-table {
  font-size: 18px;
  padding-left: 50px;
  overflow-x: scroll;
}

.date-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 50px;
}

.date-row__date {
  margin: 5px;
}

.category,
.group,
.article {
  padding-left: 16px;
  position: relative;
  margin-top: 10px;
}

.category__sum,
.group__sum,
.article__sum {
  position: absolute;
  color: blue;
  font-size: 12px;
  top: 0;
  left: -50px;
  overflow: visible;
}

.transactions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.transactions .transaction {
  margin: 5px;
}